<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link type="text/css" rel="stylesheet" href="/all.css">
    <link type="text/css" rel="stylesheet" href="/login_signup.css">
</head>
<body>

<span class="phoneCase">
<span class="phoneContainer">

<div class="image">

       <form th:object="${user}"  th:action="'/save-new-password/' + ${loginToken}" method="post">
                <h2>Enter new password</h2>
                     <input type="password" th:field="*{password}" placeholder="New password"/>
                        <p class="popup" th:if="${#fields.hasErrors('password')}">Please enter a valid password.</p>
                    <input type="password" th:field="*{repeatPassword}" placeholder="Confirm new password"/>
                        <p class="popup" th:if="${#fields.hasErrors('repeatPassword')}">Passwords are not a match.</p>
                <div  class="popup" id="warningMessage"></div>
                <input class="button" type="submit" value="Submit"/>
            </form>
</div>
</span>
    </span>
</body>
</html>